<!doctype HTML>
<html>
	<head>
		<title>Book Recommender</title>
	</head>
	<body>
		<h1>Library Book Recommender</h1>
		<h3>Login</h3>
		<!-- email and password boxes and login button -->
		<h3>Don't have an account? Sign up now</h3>
		<!-- email, password, and library boxes and signup button -->
		<p>Or get a <a href="/randombook">random book</a></p>
	</body>
</html>