<!doctype HTML>
<html>
	<head>
		<title>Book Recommender-Random Book</title>
	</head>
	<body>
	<h1>Library Book Recommender</h1>
		<h2><%= @book[:title] %></h2>
		<h3><%= @book[:author] %></h3>
		<%= @book[:image] %>
		<a href="/randombook">Get another book</a>
		<a href="/">Go back</a>
	</body>
</html>